<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
<div class="col-8 offset-2">
     <h3>EDIT YOUR LISTING</h3>
    <div class="mb-4">
      <label class="form-label">Existing Images</label>
        <div class="row">
           <% listing.images.forEach((img)=>{ %>
              <div class="col-md-3 mb-3">
                    <img 
                       src="<%= img.url %>"
                       class="img-fluid rounded"
                       style="height:150px;width:100%;object-fit:cover;">
                    <form method="POST" action="/listings/<%=listing._id%>/images/<%=encodeURIComponent(img.filename)%>?_method=DELETE">

                        <button type="submit" class="btn btn-danger btn-sm mt-2">Delete</button>

                    </form>

                </div>

                <% }) %>

            </div>

        </div>

        <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label">Title</label>

                <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>

                <div class="invalid-feedback">Enter title</div>


</div>





<div class="mb-3">


<label class="form-label">
Description
</label>


<textarea

name="listing[description]"

class="form-control"

required

><%=listing.description%></textarea>


<div class="invalid-feedback">
Enter description
</div>


</div>





<!-- NEW MULTIPLE IMAGES -->

<div class="mb-3">


<label class="form-label">

Upload New Images

</label>



<input

name="listing[images]"

type="file"

class="form-control"

accept="image/*"

multiple


>


</div>





<div class="row">


<div class="mb-3 col-md-4">


<label class="form-label">

Price

</label>


<input

name="listing[price]"

value="<%=listing.price%>"

type="number"

class="form-control"

required

>


</div>





<div class="mb-3 col-md-8">


<label class="form-label">

Location

</label>


<input

name="listing[location]"

value="<%=listing.location%>"

type="text"

class="form-control"

required

>


</div>


</div>






<div class="mb-3">


<label class="form-label">

Country

</label>


<input

name="listing[country]"

value="<%=listing.country%>"

type="text"

class="form-control"

required

>


</div>







<div class="mb-3">


<label class="form-label">

Category

</label>



<select

name="listing[categories]"

class="form-select"

required

>


<% categories.forEach(category=>{ %>


<option

value="<%=category._id%>"

<%= String(listing.categories) === String(category._id) ? "selected" : "" %>

>

<%=category.name%>


</option>


<% }) %>


</select>


</div>






<button

class="btn btn-dark mt-3 edit-btn mb-2"

>

EDIT

</button>



</form>


</div>
</div>